html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

/* Theme */

:root {
  --action-link: #c2a284;
  --accent-bean: #e4493c;
  --accent-cool: #6c6ceb;
  --accent-neutral: #ffbebe;
  --accent-warm: #ff9c00;
  --bg-primary: #f1e4d8;
  --bg-secondary: #ffffff;
  --text: #20252a;
  --text-sub: #32373a;
}

.dark {
  --bg-primary: #20252a;
  --bg-secondary: #32373a;
  --text: #f6f5f2;
  --text-sub: #9d9d9d;
}
