.wrapper {
  background-color: var(--bg-primary);
  height: 100%;
}

.paragraph {
  color: var(--text);
  margin-block-end: 0;
  margin-block-start: 0;
}

.button {
  appearance: none;
  background-color: var(--action-link);
  border: none;
  box-shadow: none;
}
